natsort
pyparsing
dsdobjects>=0.8
git+git://github.com/DNA-and-Natural-Algorithms-Group/peppercornenumerator@master#egg=peppercornenumerator
git+git://github.com/DNA-and-Natural-Algorithms-Group/crnverifier@master#egg=crnverifier
